<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="a" class="com.treason.components.A">
    	<property name="bobj" ref="b"></property>
    </bean>    
    
    <bean id="b" class="com.treason.components.B">
        <property name="aobj" ref="a"></property>
    </bean>

</beans>
